[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/automata-dcap-v3-attestation"]
	path = lib/automata-dcap-v3-attestation
	url = https://github.com/automata-network/automata-dcap-v3-attestation
[submodule "lib/nitro-validator"]
	path = lib/nitro-validator
	url = https://github.com/U0001F3A2/nitro-validator
